@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* CSS base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

html {
    scroll-behavior: smooth;
}
.title-h3{
    margin-bottom: 15px;
    font-size: 18pt;
    color: #FEA000;
}
body{
    background-color: #333645;
}


.container { /*Mexe no menu mobile*/
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #333645;
    width: 100%;
    padding: 10px 4%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo {
    width: auto;
}

.logo img {
    width: 60px;
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    position: relative;
    white-space: nowrap;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg , #FF2500, #FEA000);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after {
    width: 100%;
}

.menu nav a:hover {
    color: #ffffff;
}
/* Estilos iniciais do botão de menu hamburguer */
.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px; /* Ajuste este valor para aumentar o espaçamento entre as barras */
    cursor: pointer;
    z-index: 1001; /* Garante que o botão fique acima do menu */
}


.bar {
    width: 100%;
    height: 4px;
    background-color: #fff; /* Cor padrão do menu hamburguer */
    transition: all 0.3s ease; /* Transição suave para a transformação */
    margin-bottom: 4px; /* Adiciona o espaçamento entre as barras */
}

/* Remove a margem inferior da última barra para evitar espaçamento extra */
.bar:last-child {
    margin-bottom: 0;
}

/* Estilo quando o menu é ativado (transformação para o "X") */
.hamburger-menu.active .bar {
    background-color: #ff0000; /* Cor desejada do "X" quando o menu está ativo */
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0; /* Esconde a barra do meio */
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
.social {
    width: auto;
    display: flex;
    align-items: center;
}

.svg-social {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Adiciona a transição suave */
    opacity: 0.8; /* Inicia com opacidade levemente reduzida */
}

.container1{
    margin-top: auto;
}
/* Estilo para contêiner */
.cont-sec{
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em uma coluna */
    padding: 50px 10%;
    border-bottom: 1px solid #ccc;
    background-color: #333645;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    align-items: center;
    position: relative; /* Adicionando posição relativa para o fundo escurecido */
}
/* Estilos para as divs de missão, visão e valores */
.mission-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adiciona espaçamento entre os blocos */
    max-width: 1100px;
    margin: 0 auto; /* Centraliza o contêiner como um todo */
}

.mission, .vision, .value {
    width: 30%; /* Cada div ocupa 30% da largura disponível */
    background-color: #2e2e3e;
    border-radius: 15px;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo dentro de cada bloco */
}

.mission img, .vision img, .value img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.mission h3, .vision h3, .value h3 {
    font-size: 14pt;
    color: #FEA000;
    margin-bottom: 10px;
}

.mission p, .vision p, .value p {
    font-size: 12pt;
    color: #ccc;
    line-height: 1.6;
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
    .mission-container {
        flex-direction: column;
        align-items: center;
    }

    .mission, .vision, .value {
        width: 100%;
        margin-bottom: 20px; /* Espaçamento entre os blocos no mobile */
    }
}
/*####################### Certificados Mikrotik #########################*/
.carousel-container {
    width: 200px;
    position: relative;
    margin-top: 15px;
}

.carousel-image {
    display: none;
    width: 100%;
}

.active {
    display: block;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    padding: 10px;
    outline: none;
    animation: bounce 2s infinite;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: -50px;
}

.img-fundador{
    width: auto;
    height: auto;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 15px;
}
.img-certificate-mtcna{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
/* Ajustes para o estado de hover */
.img-certificate-mtcna:hover{
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}
/* Estilo para a imagem quando está expandida */
.cont-sec img.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Mantendo o scale(1) */
    z-index: 1000;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
/* Estilo para o fundo escurecido */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}
.backdrop.visible {
    display: block;
}
.expanded-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.expanded-container.visible {
    display: flex;
}

.expanded-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    position: relative;
}

.expanded-arrow {
    position: absolute;
    top: 50%; /* Mantém as setas centralizadas verticalmente */
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
    border-radius: 50%;
}

.expanded-arrow:hover {
    color: #FEA000;
}

.expanded-arrow.arrow-left {
    left: -40px; /* Ajusta a posição da seta esquerda para ficar mais próxima da imagem expandida */
}

.expanded-arrow.arrow-right {
    right: -40px; /* Ajusta a posição da seta direita para ficar mais próxima da imagem expandida */
}

/* Ajuste adicional para garantir que as setas estejam visíveis apenas no modo expandido */
.expanded-container.visible .expanded-arrow {
    display: block;
}

.expanded-arrow {
    display: none; /* Oculta as setas por padrão */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}
.close-btn:hover{
    color: #ff0054;
    transition: transform 0.3s ease-in-out;

}
/*.cont-sec:hover, .cont-sec:focus{
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;
}*/
.cont-sec p, br{
    font-size: 12.5pt;
    color: #ccc;
}
/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float img{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;  /* Distância do botão para a parte inferior da tela */
    right: 20px;   /* Distância do botão para a parte direita da tela */
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    animation: bounce 2s infinite;
}

/* Ícone do WhatsApp */
.whatsapp-icon {
    margin-top: 16px;
    font-size: 30px;
}
/* Animação de subir e descer */
@keyframes bounce {
    0%, 100% {
        transform: translateY(-60%);
    }
    50% {
        transform: translateY(-70%);
    }
}

/* Estilização Mobile */
#menu-mobile {
    background-color: #333645;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}
#menu-mobile nav a {
    display: block;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#menu-mobile nav a:hover, #btn-menu:hover {
    color: #FEA000;
}
#menu-mobile nav a:hover,#menu-mobile nav a:focus {
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3146rem #253041;
}
#menu-mobile.active {
    display: block;
}

#btn-menu {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    display:none;
}
::-webkit-scrollbar{
    width: 10px;
    background-color:#333645;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #FEA000;
    border-radius: 15px;
}
/* Ajuste para rolagem suave e alinhamento perfeito com o topo */
#sobre, #equipe, #servicos {
    scroll-margin-top: 85px; /* Altera este valor para a altura do seu cabeçalho fixo */
}

 
 /*##############################################################
 Contêiner principal usando flexbox para centralizar os selos
 ###############################################################*/

.certification-stamps {
    display: flex;
    justify-content: space-between; /* Distribui o espaço horizontalmente */
    align-items: center; /* Alinha verticalmente */
    margin-top: 50px;
    flex-wrap: wrap; /* Permite que as imagens quebrem de linha em telas menores */
    width: 100%; /* Garante que o contêiner ocupe a largura total */
    max-width: 800px; /* Define um tamanho máximo para a largura */
    margin: 0 auto; /* Centraliza o contêiner */
    }

/*######### IMG STEMPS #########*/
.selo-certification {
  width: 100px;
  height: auto;
  padding: 10px;
}
.stemp_MTC, .stemp_ITIL{
    width: 120px;
    height: auto;
    padding: 10px;
}
.logo-centro-kanufre, .stemp_NGD{
    width: 100px;
    height: auto;
    padding: 5px;
}

/* Media queries para responsividade */
@media screen and (max-width: 1110px) {
    .menu,
    .social {
        display: none;
    }

    .logo {
        width: auto;
    }

    #btn-menu,
    #menu-mobile {
        display: block;
    }

    #menu-mobile.active {
        height: calc(100vh - 77px);
        visibility: visible;
    }
    .cont-sec {
        flex-direction: column; /* Mantém a direção da coluna para mobile */
        align-items: center; /* Centraliza o conteúdo no mobile */
    }
    /* #####################################################
    /* Estilos para a imagem e backdrop na versão Mobile 
    #######################################################*/
    .cont-sec {
        flex-direction: column; /* Muda a direção do layout para coluna em telas pequenas */
        align-items: center; /* Centraliza o conteúdo */
    }

    .img-certificate-mtcna {
        width: 100%; /* Ajusta a largura da imagem para 100% da largura disponível */
        max-width: 300px; /* Define um limite máximo de largura para a imagem */
        height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    }
    .img-fundador {
        flex-direction: column; /* Alinha a imagem verticalmente abaixo do conteúdo */
        align-items: center; /* Centraliza a imagem */
    }
    .cont-sec img.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* Mantendo o scale(1) */
        z-index: 1000;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    .expandable-desktop:hover {
        transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
        transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
    }
    /* #############################################
    /* Estilos para selos versão versão Mobile  
    ###############################################*/
    .certification-stamps {
        flex-direction: row; /* Evita quebra de linha no mobile */
        justify-content: center; /* Centraliza melhor o conteúdo no mobile */
    }

    .selo-certification {
        width: 100px; /* Reduz o tamanho dos selos no mobile */
        transition:none;
    }
    .selo-certification:hover {
    transform: none;
}
}