@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* CSS base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

html {
    scroll-behavior: smooth;
}

.container { /*Mexe no menu mobile*/
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #272a37;
    width: 100%;
    padding: 10px 4%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo {
    width: auto;
}

.logo img {
    width: 60px;
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    position: relative;
    white-space: nowrap;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg , #FF2500, #FEA000);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after {
    width: 100%;
}

.menu nav a:hover {
    color: #ffffff;
}

.social {
    width: auto;
    display: flex;
    align-items: center;
}

.social button {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 0;
    cursor: pointer;
    background-image: linear-gradient(45deg , #FF2500, #FEA000);
    border-radius: 5px;
    transition: transform 0.5s;
}

.social button i {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.social button:hover {
    transform: scale(0.9);
}

.container1{
    margin-top: auto;
}
/* Estilo para contêiner */
.cont-sec{
    display: flex;
    padding: 50px 10%;
    border-bottom: 1px solid #ccc;
    background-color: #272a37;
    justify-content: space-between; /* Adiciona espaço entre os itens */
    align-items: center;
    position: relative; /* Adicionando posição relativa para o fundo escurecido */
}
.img-fundador{
    width: auto;
    height: auto;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 15px;
}
.img-certificate-mtcna{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
/* Ajustes para o estado de hover */
.img-certificate-mtcna:hover{
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}
/* Estilo para a imagem quando está expandida */
.cont-sec img.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Mantendo o scale(1) */
    z-index: 1000;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
/* Estilo para o fundo escurecido */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}
.backdrop.visible {
    display: block;
}
.cont-sec:hover, .cont-sec:focus{
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;
}
.cont-sec h2{
    font-size: 2em;
    margin-bottom: 15px;
    font-size: 18pt;
    color: #FEA000;
}

.cont-sec p, br{
    font-size: 12pt;
    color: #ccc;
}
/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;  /* Distância do botão para a parte inferior da tela */
    right: 20px;   /* Distância do botão para a parte direita da tela */
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

/* Ícone do WhatsApp */
.whatsapp-icon {
    margin-top: 16px;
    font-size: 30px;
}
/* Efeito de salto flutuante */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

/* Aplicação do efeito de salto ao botão */
.whatsapp-float:hover {
    animation: float 1s ease-in-out infinite;
}


/* Estilização Mobile */
#menu-mobile {
    background-color: #272a37;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

#menu-mobile nav a {
    display: block;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#menu-mobile nav a:hover, #btn-menu:hover {
    color: #FEA000;
}

#menu-mobile nav a:hover {
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3146rem #253041;
}

#btn-menu {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#ff0054;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #272a37;
}
/* Estilos para a imagem e backdrop na versão desktop */
@media screen and (max-width: 768px) {
    .cont-sec {
        flex-direction: column; /* Muda a direção do layout para coluna em telas pequenas */
        align-items: center; /* Centraliza o conteúdo */
    }

    .img-certificate-mtcna {
        width: 100%; /* Ajusta a largura da imagem para 100% da largura disponível */
        max-width: 300px; /* Define um limite máximo de largura para a imagem */
        height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    }
    .img-fundador {
        flex-direction: column; /* Alinha a imagem verticalmente abaixo do conteúdo */
        align-items: center; /* Centraliza a imagem */
    }
    .cont-sec img.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* Mantendo o scale(1) */
        z-index: 1000;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    .expandable-desktop:hover {
        transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
        transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
    }
}


/* Media queries para responsividade */
@media screen and (max-width: 1110px) {
    .menu,
    .social {
        display: none;
    }

    .logo {
        width: auto;
    }

    #btn-menu,
    #menu-mobile {
        display: block;
    }

    #menu-mobile.active {
        height: calc(100vh - 77px);
        visibility: visible;
    }
}
