@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display:grid;
    background: #272a37;
    color: aquamarine;
}
nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: 700;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a{
color: #fff;
text-decoration: none;
}
a:hover{
    color: #FEA000;
}
main{
    width: 100%;
    height: auto;
    position: absolute;
}
.txt_apresentacao h1{
    margin: 25px;
    padding: 10px;
    text-align: center;
}
.square{
    display: flex;
    width: 100%;
    position:fixed;
}
.bio_txt{
    width: 60%;
    height: 100%;
    margin: 15px;
    padding: 5px;
}

article{
    margin: 10px;
    padding: 5px;
}
article h3{
    margin: 10px;
    padding: 5px;
    width: 780px;
    line-height: 1.5em;
}

.certificate{
    width: 50vw;
    height: 100%;
    text-align: center;
}
img{
    width: 370px;
    margin: 10px;
    padding: 5px;
}
