@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik";
}
body {
    margin: 0;
    padding: 0;
    /*
    background-image: url(/img/bck_contact.png);
    background-size: 100vw 100vh;*/
    color: aquamarine;
}
nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a{
color: #fff;
text-decoration: none;
}
a:hover{
    color: #FEA000;
}
.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    display:block;
    justify-content: center;
    align-items: center;         
}
.banner video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
            
}
main{
    display: flex;
    height: auto;
    width: 100%;
    position: absolute;
}/*
.Qrcode1, .Qrcode2{
    width: 50%;
    height: auto;
    margin: 5px;
    padding: 10px;
}
figure{
    text-align: center;
}
.Qrcode1 img, .Qrcode2 img{
    height: 350px;
    text-align: center;
    border-radius: 20px;

}*/

