@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik";
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav a:hover{
    color:#FEA000 ;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #272a37;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-group {
    display: flex;
    flex-wrap: nowrap;
}

section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    background-color: #272a37;
    flex-wrap: wrap;
}

.right {
    background-color: #272a37;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #ffffff;
    font-weight: 700
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1.125rem;
    width: 100%;
    box-sizing: border-box;
    background: #323644;
    transition: border-color 0.3s, box-shadow 0.3s;
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
button {
    padding: 10px;
    background: #1d90f5;
    color: #ffffff;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: 0.3s;
}
input:hover, input:focus,
textarea:hover, textarea:focus{
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;
}
button:hover, button:focus{
    outline: none;
    background: #1c70d3;
}
button:disabled{
    cursor: not-allowed;
    background: #555b69;
}
.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}


@media (max-width: 768px) {
    .section-group {
        flex-direction: column;
    }

    .left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}