/* Media queries para responsividade */
@media screen and (max-width: 1110px) {
    .menu,
    .social {
        display: none;
    }

    .logo {
        width: auto;
    }

    #btn-menu,
    #menu-mobile {
        display: block;
    }

    #menu-mobile.active {
        height: calc(100vh - 77px);
        visibility: visible;
    }
    .cont-sec {
        flex-direction: column; /* Mantém a direção da coluna para mobile */
        align-items: center; /* Centraliza o conteúdo no mobile */
    }
    /* #####################################################
    /* Estilos para a imagem e backdrop na versão Mobile 
    #######################################################*/

    /* #############################################
    /* Estilos para selos versão versão Mobile  
    ###############################################*/
    .stemps-container {
        flex-direction: row; /* Evita quebra de linha no mobile */
        justify-content: center; /* Centraliza melhor o conteúdo no mobile */
    }

    .selo-certification {
        width: 100px; /* Reduz o tamanho dos selos no mobile */
        transition:none;
    }
    .stemps_ITIL, .stemps_NGD, .selo-certification{
        width: 40px;
        height: auto;
        justify-content: center;
    }
    .stemp_MTC{
        width: 100px;
        height: auto;
        justify-content: center;
    }
}
