@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik";
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #272a37;
}

nav {
    background-color: transparent;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav a:hover{
    color:#FEA000 ;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #272a37;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt_apresentacao {
    text-align: center;
    margin-bottom: 20px;
}

.square {
    display: flex;
    flex-wrap: wrap;
}

.bio_txt, .certificate {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    
}

.bio_txt {
    background-color: #f0f0f0;
    margin-right: 0px;
    
}

.certificate {
    background-color: #272a37;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.certificate img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.txt_apresentacao h1{
    color:#FEA000 ;;
}

@media (max-width: 768px) {
    .square {
        flex-direction: column;
    }

    .bio_txt, .certificate {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .certificate{
        width: 250px;
    }
}
