/* CSS para slider */

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 500%; /* Ajustado para 5 slides */
    height: auto;
    display: flex;
    transition: margin-left 1.5s ease;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 20%; /* Ajustado para 5 slides */
    height: auto;
    position: relative;
    text-align: center;
    transition: 2s;
}

.slide-box img {
    width: 100%;
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Garante que as imagens se ajustem corretamente dentro do contêiner */
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    bottom: 20px; /* Ajusta a posição dos botões de navegação */
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ff0054;
}

#radio0:checked ~ .slider-content {
    margin-left: 0%;
}

#radio1:checked ~ .slider-content {
    margin-left: -20%;
}

#radio2:checked ~ .slider-content {
    margin-left: -40%;
}

#radio3:checked ~ .slider-content {
    margin-left: -60%;
}

#radio4:checked ~ .slider-content {
    margin-left: -80%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        height: auto; /* Mantém a proporção das imagens móveis */
        object-fit: cover; /* Garante que as imagens móveis se ajustem corretamente dentro do contêiner */
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}
